<div class="center">
	<h2>table: <a href="#/tables/">{{ table }}</a></h2>
	<form ng-submit="submit()" ng-controller="SummaryController">
		<div class="form-group">
			<label for="column">Column</label>
			<select ng-model="column" name="column" id="column" class="form-control">
				<option ng:repeat="column in columns" value={{column}}>{{column}}</option>
			</select>
		</div>
		<div class="form-group">
			<label for="average">Average</label>
			<select ng-model="average" name="column" id="average" class="form-control">
				<option value=""></option>
				<option ng:repeat="column in columns" value={{column}}>{{column}}</option>
			</select>
		</div>
		<div class="form-group">
			<label for="limit">Limit</label>
			<input ng-model="limit" name="limit" id="limit" tupe="number" class="form-control">
		</div>
		<input type="submit" id="submit" value="Submit" class="btn btn-default"><br><br>
		<div ng-show="rows.length>0" class>
			<div class="btn-group btn-group-sm" role="group" aria-label="pages">
				<button ng-disabled="(offset === 0)" ng-click="prev()" class="btn btn-default">prev</button>
				<a class="btn btn-default disabled">{{offset+1}}/{{total}} - {{offset+limit}}/{{total}}</a>
				<button ng-disabled="(offset+limit >= total)" ng-click="next()" class="btn btn-default">next</button>
			</div>
			<table  class="table table-striped table-hover">
				<thead class="thead-inverse">
					<tr><td ng:repeat="col in col_name">{{col}}</td></tr>
				</thead>
				<tbody>
					<tr ng:repeat="row in rows">
						<td ng:repeat="v in values">{{row[v]}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</form>
</div>
